[submodule "etcd"]
	path = etcd
	url = https://github.com/coreos/etcd.git
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/kubernetes/kubernetes.git
[submodule "cni-plugins"]
	path = cni-plugins
	url = https://github.com/containernetworking/plugins.git
